{
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "script",
		"ecmaFeatures": {
			"impliedStrict": true,
			"jsx": true
		}
	},
	"env": {
		"browser": true,
		"es6": true,
		"jquery": true
	},
	"extends": "eslint:recommended",
	"rules": {
		"array-bracket-spacing": [ "error", "always", {
			"singleValue": false,
			"objectsInArrays": false,
			"arraysInArrays": false
		}],
		"brace-style": "error",
		"comma-dangle": [ "error", "never" ],
		"comma-spacing": [ "error", {
			"before": false,
			"after": true
		}],
		"comma-style": [ "error", "last" ],
		"curly": [ "error", "all" ],
		"dot-notation": [ "error", {
			"allowKeywords": true
		}],
		"eqeqeq": [ "error", "smart" ],
		"indent": [ "error", "tab" ],
		"key-spacing": [ "error", {
			"beforeColon": false,
			"afterColon": true
		}],
		"linebreak-style": [ "error", "unix" ],
		"no-mixed-operators": "error",
		"no-self-assign": "error",
		"no-self-compare": "error",
		"no-sequences": "error",
		"no-unused-vars": "warn",
		"no-useless-concat": "error",
		"no-useless-return": "error",
		"object-curly-spacing": [ "error", "always" ],
		"quote-props": [ "error", "consistent-as-needed" ],
		"quotes": [ "error", "double", {
			"avoidEscape": true
		}],
		"semi-spacing": [ "error", {
			"before": false,
			"after": true
		}],
		"semi-style": [ "error", "last" ],
		"semi": [ "error", "always" ],
		"space-before-blocks": [ "error", "always" ],
		"space-before-function-paren": [ "error", {
			"anonymous": "never",
			"named": "always",
			"asyncArrow": "never"
		}],
		"space-in-parens": [ "error", "always", {
			"exceptions": [ "{}" ]
		}],
		"space-infix-ops": "error",
		"space-unary-ops": [ "error", {
			"words": true,
			"nonwords": false
		}],
		"spaced-comment": [ "error", "always", {
			"line": {
				"exceptions": [ "-", "+", "*" ],
				"markers": [ "!", "/" ]
			},
			"block": {
				"exceptions": [ "-", "+", "*" ],
				"markers": [ "!", "*" ],
				"balanced": true
			}
		}],
		"switch-colon-spacing": [ "error", {
			"after": true,
			"before": false
		}],
		"yoda": [ "error", "never", {
			"onlyEquality": true
		}]
	}
}
